@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-image: none;
}

main {
  @apply bg-gray-300;
}

h2 {
  @apply font-bold;
  @apply text-3xl;
  @apply py-4;
}

h3 {
  @apply font-semibold;
}

h4 {
  @apply font-medium;
}

.social_link_icon {
  margin: 0rem 0.5rem 0rem 0.5rem;
  height: 2rem;
  width: 2rem;
}

.photo {
  border-radius: 50%;
  height: auto;
  width: auto;
}

ul.dashed-list {
  list-style-type: none;
}

ul.dashed-list > li {
  text-indent: -1.5rem;
}

ul.dashed-list > li:before {
  content: "— ";
  text-indent: -1.5rem;
}

footer {
  text-align: center;
  border-top: 2px;
}

@media (max-width: 640px) {
  .photo {
    display: block;
    margin: 0.5rem auto 0.5rem auto;
    height: 40vh;
    width: 40vh;
  }
}