@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2 {
  text-align: center;
} 

.other-sites {
  text-align: center;
}

.userpic {
  text-align: center;
}

.social_link_icon {
  width: 1.8rem;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

@layer base {
  a.nav-link {
    @apply text-gray-200;
  }
  
  a.nav-link:visited  {
    @apply text-gray-200;
  }
}
  
nav {
  padding: 0 0 0 0;
}

header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/header.png');
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
}

header .intro-text {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 300px;
}

@media (min-width: 640px) {
  header .intro-text {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

footer {
  text-align: center;
  border-top: 2px;
}
