@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
}

header {
  height: 50vh;
  background-image: none;
  @apply bg-gray-800;
}

header .intro-text {
  width: 60%;
  @apply h-1/2;

  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
  @apply pt-40;
  @apply pb-40;
}

main {
  @apply bg-gray-300;
  min-height: 50vh;
}

h1 {
  @apply font-bold;
  @apply text-4xl;
  @apply py-4;
}

h2 {
  @apply font-bold;
  @apply text-3xl;
  @apply py-4;
}

h3 {
  @apply font-semibold;
  @apply py-3;
}

h4 {
  @apply font-medium;
}

ul.dashed-list {
  list-style-type: none;
}

ul.dashed-list > li {
  @apply text-base;
}

ul.dashed-list > li:before {
  content: "— ";
  text-indent: 1rem;
}

ul.dashed-list > li:last-child {
  @apply pb-3;
}

footer {
  text-align: center;
  border-top: 2px;
}

.spinner {
  display: flex;
  min-height: 50vh;
}

.spinner-central {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1 1 auto;
}

.flex-box {
  display: flex;
  flex-flow: column;
}

.flex-container {
  margin: 1rem auto auto auto;
  flex: 0 1 auto;
}

.flex-filler {
  display: flex;
  flex: 1 1 auto;
}

.flex-pagination {
  flex: 0 1 auto;
}
